html {
  font-family: 'Roboto', sans-serif;
  background-color: #B8BDB5;

}

/* Navbar  */

.navbar {
  display:flex;
  justify-content: space-between;
}

.navbar {
  padding-left:24px;
  padding-top: 24px;
}


 .colmar,
.academy {
  font-family: 'Lato', sans-serif;
   font-size:32px;
   text-shadow: 1.5px 1.5px grey;
 }

 .colmar{
   font-weight:bold;
   color:#1c407a;
 }

 .academy{
   font-weight:200;
 }

 nav span {
   padding-left: 16px;

 }

 nav {
   padding-right:24px;

 }

nav a {
  color:#1c407a;
  text-decoration: none;
}

nav a:hover {
  color:#ffffff;
  transition: color .09s ease-in ;
}

.mobile-navbar {
  display:none;
}

 @media only screen and (max-width:480px) {
   .mobile-navbar{
     display:flex;
     justify-content: space-between;
     width:100%;
     max-height: 64px;
     padding-left: 4rem;
   }

   nav,
    .colmar,
    .academy {
     display:none;
   }
 }

 /* site container */

.site-container {
   display:flex;
   flex-direction: column;
   width:1000px;
   background-color: ;
   margin: 0 auto;

 }




 /* section 1 */

 #section-1 {
   display:flex;
   justify-content: space-around;
   background-color: lightgray;
   padding: 32px 24px 32px 24px;

   margin: 0 auto;
 }



#section-1 h1 {
  font-weight: 900;
  font-family: 'Titillium Web', sans-serif;
  font-size: 3rem;
  line-height: 2.5rem;
  color:#1c407a;

}



 #section-1 .banner-content {
   display:flex;
   flex-direction: column;
  justify-content: center;
   align-items: center;
   color:#28292b;
   margin-left: 48px;
   background-color: ;
   width:40%;
   font-weight:300;


 }

 #section-1 h2 {
   font-weight: 300;
 }

 #section-1 .button {
   background-color:#28292b;
   color: #FFFFFF;
   padding: 8px 80px 8px 80px;
   font-size:1.5rem;
   display:flex;

 }

  #section-1 .button:hover {
    background-color: #1c407a;
    box-shadow: 5px 5px 1px 1px grey;
    transition: all .25s ease-in-out ;
  }

#section-1 .img-container-1 {
  width:60%;
}

#section-1 .img-container-1 img {
  width:100%;
}




#section-1 .button a {
  text-decoration: none;
  color:white;
  text-align: center;
}



  @media only screen and (max-width:480px){
      .site-container{
        width:100%;
      }

      #section-1 {
        display:flex;
        flex-wrap:wrap;
      }

      #section-1 .img-container-1{
        width: 100%;
      }

       #section-1 .banner-content {
         padding-top:32px;
         padding-bottom:24px;
         width:100%;
       }
  }

 /* section 2 */


 #section-2 {
   display:flex;
   padding: 32px 24px 32px 24px;
   justify-content: space-around;


 }

#section-2 .content-1 {
  width:60%;
}


#section-2 .content-1 img {
  width:100%;
}

#section-2 .content-2 {
  display:flex;
  flex-direction: column;
  width:40%;
}


.c2-1,
.c2-2,
.c2-3 {
  background-color:#01132C ;
  display: flex;
  margin-left: 24px;


}

.c2-1 h3,
.c2-2 h3,
.c2-3 h3 {
  color:white;
}

.c2-1 img,
.c2-2 img,
.c2-3 img {
  width:100%;
  height:auto;
}


.c2-1-img,
.c2-2-img,
.c2-3-img {
  width:35%;
  height:auto;
  padding:16px;
}



 .c2-1 .c2-1-info,
 .c2-2 .c2-2-info,
 .c2-3 .c2-3-info{
   width:65%;
   padding:16px 16px;
   color:#B8BDB5;

 }

 .c2-1 .c2-1-info p,
 .c2-2 .c2-2-info p,
 .c2-3 .c2-3-info p {
   margin-top:8px;
   margin-bottom:8px;
 }

 .c2-1 .c2-1-info a:hover,
 .c2-2 .c2-2-info a:hover,
 .c2-3 .c2-3-info a:hover {
   background-color:#01132C ;
   padding:5px;
   font-weight:bold;
   color:goldenrod;
   transition: all .25s ease-out;
 }



   @media only screen and (max-width:480px) {
     #section-2
        {
            width:100%;
            flex-direction: column;
            flex-wrap: wrap;

          }

      #section-2 .content-1 {
        display:none;
      }

      #section-2 .content-2 {
        width:100%;
        flex-direction: column;

      }

      .c2-1,
      .c2-2,
      .c2-3 {
        flex-direction: column;
        width:100%;
        margin: 16px;
        text-align: center;
      }

      .c2-1-img,
      .c2-2-img,
      .c2-3-img {
        width:70%;
        margin: 0 auto;
      }


      .c2-1 h3,
      .c2-2 h3,
      .c2-3 h3 {
        margin-top: 5px;
        font-size:2rem;
      }

      .c2-1 .c2-1-info,
      .c2-2 .c2-2-info,
      .c2-3 .c2-3-info {
        width:100%;
      }
   }

 /*section 3*/

 #section-3 {
   display:flex;
  flex-direction: column;
  border: solid 1px white;

 }

 #section-3 .s3-programs {
   display:flex;
   justify-content: space-around;
 }

.s3-programs2 {
   display:flex;
   justify-content: space-around;
   margin-top: 16px;
 }


.s3-img img {
  width:100%;
  height:100%;

}

.s3-img {
  height:40%;

}

.s3-heading {
  font-family:'Titillium Web', sans-serif;
  color:#1c407a;
  font-size: 2rem;
  background-color: lightgrey;
  text-shadow: 10px white;
}


 .s3-programs .swe,
 .s3-programs .compart,
 .s3-programs .design,
 .s3-programs2 .data,
 .s3-programs2 .business,
 .s3-programs2 .marketing
  {
   width: 100%;
   display:flex;
   flex-direction: column;
   background-color: ;
   margin-right: 32px;
   margin-left: 32px;
 }



 .s3-programs .swe-info ,
 .s3-programs .compart-info,
 .s3-programs .design-info,
 .s3-programs2 .data-info,
 .s3-programs2 .business-info,
 .s3-programs2 .marketing
  {
   padding:16px;
   background-color: white;
   box-shadow: 5px 5px grey;

 }



  }

 .s3-programs .swe h2 {
   text-align: center;
 }

.s3-programs .swe h3 {
  margin-bottom:1px;
}

.section-3-mobile {
  display:none;
}

 @media only screen and (max-width:480px)  {

 #section-3 {
   display:none;
 }


.section-3-mobile {
  display:flex;
  flex-direction: column;
  justify-content: center;
  border-top: solid 1px white;
  border-bottom: solid 1px white;


}

.section-3-mobile h1 {
  text-align: center;
  color:#01132C;
  font-size: 3rem;
  margin-botom:16px;
}

.section-3-mobile ul {
  list-style: none;
}

.section-3-mobile li {
  font-size: 1.5rem;
  background-color:#01132C;
  color:white;
  padding:16px;
  margin:10px;
  text-align: center;
  width:100%;

}

.section-3-mobile li:hover {
  background-color:#1c407a ;
  color: goldenrod;
  transition: all .25s ease-out;


}


 }

/*section 4 */

#section-4 {
  background-color: #01132C;
  color:#B8BDB5;
}

#section-4 .s3-heading,
#section-3  .s3-heading {
  text-align: center;
  margin-top: 32px;
  margin-bottom:32px;
}

#section-4 h1 {
  text-align: center;
  color:white;
}


.thesis-container {
  display:flex;
  justify-content: space-between;
}

.video-container {
  width:60%;
  margin-right: 24px;
}

.video-container video {
  width:100%;
  margin-left:16px;
}


.option1,
.option2 {
  display:flex;
  padding:16px;

}

 .thesis-img {
   width:35%;
   margin-right: 16px;
 }

 .thesis-img img {
   width:100%
  }

  .end {
    margin-bottom: 32px;
    margin-left:16px;
  }

  footer {
    border-top: solid 1px;
    font-size: .75rem;
  }


   @media only screen and (max-width:480px) {

     .thesis-options {
       display:none;
     }

     .end {
       display:none;
     }

     .thesis-container {
       width:100%;
       justify-content: center;
       margin-bottom:24px;
     }

     .video-container{
     width:100%
   }

   footer {
     margin-top: 16px;
   }
   }
